####    Unreal Engine Derived Files   ####
*/Intermediate/
*/Saved/
*/Binaries/
*/DerivedDataCache/
*/Build/
*_BuiltData.uasset
*/Content/StarterContent/Textures
*/Content/StarterContent/HDRI

####   VC  Derived Files   ####
*.vs